.main {
    height: 100px;
    background-color: rgb(90, 128, 190);
    box-shadow: 0 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #1080cab4, #062f8c90);
}

.logo {
    padding-left: 5%;
}

.logoContainer {
    align-items: center;
}

.nameContainer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: colorAnimation;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

@keyframes colorAnimation {
    0% {
      background-color: red;
    }
    50% {
      background-color: blue;
    }
    100% {
      background-color: green;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 5%; */
    padding-right: 5%;
}

.linkContainer ul {
    white-space: nowrap;
}

.linkContainer a {
    margin-right: 20px;
}
  